
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="<%=home_path %>">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to t("layout._header.home"), home_path %>
        </li>
        <li class="nav-item">
          <%= link_to t("layout._header.about"), about_path %>
        </li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to t(".user"), users_path %></li>
          <li class="nav-item"><%= link_to "create post", create_post_path %></li>
          <li class="nav-item dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account"%> <b class="caret"></b>
            </a>
            <ul class="nav-item dropdown-menu">
              <li class="nav-item"><%= link_to t(".Profile"), current_user %></li>
              <li class="nav-item"><%= link_to t(".Settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li class="nav-item">
                <%= link_to t(".Log out"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to t(".Log in"), login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
